version: "3.9"

services:
  robot:
    container_name: autonomous_mobile_robotics_pi

    build:
      context: ..
      dockerfile: docker/Dockerfile

    network_mode: host
    privileged: true

    volumes:
      - ../:/ros2_ws
      - /dev:/dev

    environment:
      - ROS_DOMAIN_ID=0

    command: >
      bash -c "
      rosdep install --from-paths src --ignore-src -r -y &&
      colcon build --symlink-install &&
      ros2 launch lidarbot_bringup bringup.launch.py
      "
